body {
  margin-left: 2em;
  margin-right: 2em;
}
header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
}

header img {
  height: 64px;
  margin-right: 1em;
}
/* User table */
#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5dd2ec;
  color: black;
}
fieldset {
  border: none;
  margin: 1rem 0;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}
