body {
  font-family: sans-serif;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1 h2,
h3 {
  color: #231d3c;
}
/* 
.challenge-1 {
}

.challenge-2 {
}

.challenge-3 {
}

.challenge-4 {
}

.color {
} */
