.App {
  font-family: sans-serif;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

form {
  border: 1px solid lightgray;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
}

form label {
  display: inline-block;
  margin-top: 10px;
  width: 100px;
  vertical-align: top;
}

form label::before {
  content: "\A";
}

form button {
  margin-top: 30px;
  display: block;
}

form input,
form select,
form textarea {
  display: inline-block;
  width: 200px;
  margin-top: 10px;
  box-sizing: border-box;
}

form textarea {
  min-height: 100px;
}
