.Table {
  width: 100%;
  height: 100vh;
  display: flex;
}

table {
  border: 2px solid rgba(9, 9, 9, 0.1);
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
  padding-left: 20px;
}

td {
  padding-left: 20px;
}

.List-Header {
  color: blue;
}
