ul {
  display: flex;
  align-content: flex-end;
  list-style-type: none;
}
li {
  padding: 1em;
  font-weight: bold;
  font-size: 18px;
}

.header {
  font-size: 38px;
  text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
  font-family: "Segoe print", Arial, Helvetica, sans-serif;
  color: #dd0000;
}
