fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
}

header img {
  height: 64px;
  margin-right: 1em;
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  margin-left: 2em;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}
