# dependencies
/node_modules
/.pnp
.pnp.js
.vscode/
server/node_modules/
client/node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
.DS_Store
server/.DS_Store

